@charset "UTF-8";
/*OPERACIONES*/
/*IMPORTS*/
* {
  margin: 0%;
  list-style: none;
  padding: 0%;
  border: 0ch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

/*HEADER GRAL*/
.nav-agregado {
  background-color: #b4a58885;
}

.hov:hover {
  text-decoration: line-through;
}

#logo {
  height: 80px;
  width: auto;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

/* FOOTER GRAL */
.finalPag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  background-color: #252222;
  color: white;
  background-size: cover;
  width: 100%;
}

@media (max-width: 650px) {
  .finalPag {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 770px) {
  .finalPag {
    font-size: 13px;
  }
}

/*Home Main hecho en css pasado a sass*/
#titulo {
  color: black;
  text-align: center;
  background-image: url(../multimedia/montaña.jpg);
  padding: 325px;
  background-size: cover;
  margin: 0%;
}

@media (max-width: 770px) {
  #titulo {
    padding: 311px;
  }
}

@media (max-width: 481px) {
  #titulo {
    padding: 150px;
  }
}

#descripcion {
  color: black;
  font-size: 1em;
  text-align: center;
  background-color: #EDE9E1;
  padding: 30px 5px;
  padding-left: 10vh;
  padding-right: 10vh;
}

#descripcion h2 {
  text-decoration: underline;
  padding-bottom: 3vh;
}

.ft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .ft {
    height: 60vh;
    width: 85vh;
  }
}

@media (max-width: 1023px) {
  .ft {
    height: 45vh;
    width: 70vh;
  }
}

@media (max-width: 481px) {
  .ft {
    height: 20vh;
    width: 35vh;
  }
}

/*Habitaciones Main hecho en css pasado a sass*/
main {
  background-color: #e3dbc7c7;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

.intro__hijos--principal {
  font-size: 35px;
  padding: 60px;
  text-decoration: underline;
}

.intro__hijos--secundario {
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habitaciones-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15%;
  padding-right: 10%;
}

.habitaciones-container__matrimoniales {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "descripcion foto1" "descripcion foto2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px black;
  padding-bottom: 5%;
}

.habitaciones-container__matrimoniales div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: descripcion;
}

.foto--matrimonial1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto1;
}

.foto--matrimonial2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.habitaciones-container__standard {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "descripcion foto1" "descripcion foto2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

.habitaciones-container__standard div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: descripcion;
}

.foto--standard1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto1;
}

.foto--standard2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.habitaciones-container__deluxe {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "descripcion foto1" "descripcion foto2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4%;
}

.habitaciones-container__deluxe div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: descripcion;
}

.foto--deluxe1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto1;
}

.foto--deluxe2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.foto {
  height: 25vh;
  width: 45vh;
  padding: 0.5%;
}

/*Imagenes Main*/
.tit__img, .actividades__main h1, .contacto__main h1, .contacto__main h2 {
  font-size: 35px;
  padding: 60px;
  text-align: center;
  text-decoration: underline;
}

.imagenes__main h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5vh;
}

.imagenes__main div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5vh;
}

.imagenes__main div .ft_lugarcomun {
  padding: 0.5px;
}

@media (min-width: 770px) {
  .imagenes__main div {
    -ms-grid-columns: 68vh 68vh;
        grid-template-columns: 68vh 68vh;
  }
  .imagenes__main div .ft_lugarcomun {
    height: 45vh;
    width: 69vh;
    padding-right: 8px;
  }
}

@media (max-width: 769px) {
  .imagenes__main div {
    -ms-grid-columns: 68vh 68vh;
        grid-template-columns: 68vh 68vh;
  }
  .imagenes__main div .ft_lugarcomun {
    height: 45vh;
    width: 69vh;
    padding-right: 4px;
  }
}

@media (max-width: 650px) {
  .imagenes__main div {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .imagenes__main div .ft_lugarcomun {
    height: 35vh;
    width: 59vh;
  }
}

/*Actividades Main*/
.actividades__main h1 {
  padding-bottom: 15px;
}

.actividades__main h2 {
  padding-bottom: 60px;
  text-align: center;
  opacity: 90%;
  font-size: 27px;
}

.actividades__main .act-afu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actividades__main .act-afu h3 {
  font-size: 20px;
}

.actividades__main .act-afu iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Contacto Main*/
.contacto__main .map-n-phot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.contacto__main .map-n-phot img {
  height: 425px;
  width: 450px;
}

.contacto__main .map-n-phot iframe {
  height: 425px;
  width: 450px;
}

.contacto__main .medios-de-contacto {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  padding: 10px;
}

.contacto__main .medios-de-contacto .medios_hijos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacto__main .form-agregado {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.img__contacto {
  height: 4vh;
  padding: 1px;
}

@media (min-width: 771px) {
  .medios-de-contacto {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .medios-de-contacto .medios_hijos {
    padding: 10px;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 427px) and (max-width: 770px) {
  .relleno_ {
    display: none;
  }
  .maps {
    padding-right: 10px;
    padding-left: 10px;
  }
  .medios-de-contacto {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .medios-de-contacto .medios_hijos {
    padding: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 426px) {
  .relleno_ {
    display: none;
  }
  .maps {
    padding-right: 10px;
    padding-left: 10px;
  }
  .medios-de-contacto {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=sass.css.map */