/*HEADER GRAL*/
.nav-agregado{
    background-color: #b4a58885;
  }
  
  .hov:hover{
    text-decoration: line-through;
  }
  
  #logo{
    height: 80px;
    width: auto; 
    transform: translateX(20px);
  }