/*OPERACIONES*/
$titulos__tamano: 35px;
$titulos__padding: 60px;


/*logo*/
#logo{
    height: 80px;
    width: auto; 
    transform: translateX(20px);
  }


/*Imagenes Main*/ 

.tit__img{
    font-size: $titulos__tamano;
    padding: $titulos__padding;
    text-align: center;
    text-decoration: underline;
}

.imagenes__main{
    h3{
        font-size: 20px;
        text-align: center;
        padding-bottom: 5vh;
    }

    div{

        display: grid;
        grid-template-columns: 68vh 68vh;
        justify-content: center;
        padding-bottom: 5vh;
        grid-row-gap: 0.5px;
        img{
            height: 45vh;

        }
    }
}

.tit__img{
    font-size: $titulos__tamano;
    padding: $titulos__padding;
    text-align: center;
    text-decoration: underline;
}

/*Actividades Main*/

.actividades__main{
    h1{
        @extend .tit__img;
        padding-bottom: 15px;
    }
    h2{
        padding-bottom: 60px;
        text-align: center;
        opacity: 90%;
        font-size: 27px;
    }
    

    .act-afu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        h3{
            font-size: 20px;
        }
        iframe{
            display: flex;
        }
    }
}


/*Contacto Main*/


.contacto__main{
    h1{
        @extend .tit__img;
    }
    .map-n-phot{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    h2{
        @extend .tit__img
    }

    .medios-de-contacto{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        padding-top: 5rem;
        padding: 10px;
        .medios_hijos{
            display: flex;
            padding: 10px;
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }
}

.img__contacto{
    height: 4vh;
}

#logo{
    height: 80px;
    width: auto; 
    transform: translateX(20px);
  }