/*OPERACIONES*/
$titulos__tamano: 35px;
$titulos__padding: 60px;

/*IMPORTS*/
@import "reset";
@import "header";
@import "footer";

/*Home Main*/

#titulo{
    color: black;
    text-align: center;
    background-image: url(../multimedia/montaña.jpg);
    padding: 325px;
    background-size: cover;
    margin: 0%;
  }
  
  @media (max-width: 770px) {
    #titulo{
      padding: 311px;
    }
  }
  
  @media (max-width: 481px) {
    #titulo{
      padding: 150px;
      }
  }

  #descripcion{
    color: black;
    font-size: 1em;
    text-align: center;
    background-color: #EDE9E1;
    padding: 30px 5px;
  }
  
  
  .ft{
    height: 60vh;
    width: 85vh;
    flex-direction: row;
    align-items: center;
  }
  
  @media (max-width: 481px) {
    .ft{
      height: 30vh;
      width: 65vh;
      }
  }

/*Habitaciones Main*/

main{
    background-color: #e3dbc7c7;
  }
  
  .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  
.intro__hijos--principal{
    font-size: 35px;
    padding: 60px;
    text-decoration: underline;
}


.intro__hijos--secundario{
  font-size: 20px;
  align-items: center;
}

.habitaciones-container{
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 10%;
}

.habitaciones-container__matrimoniales{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2";
  align-items: center;
  margin-bottom: 5px black;
  padding-bottom: 5%;
}

.habitaciones-container__matrimoniales div{
  grid-area: descripcion;
}

.foto--matrimonial1{
  grid-area: foto1;
}

.foto--matrimonial2{
  grid-area: foto2;
}


.habitaciones-container__standard{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2"    ;
  align-items: center;
  padding-bottom: 5%;
}

.habitaciones-container__standard div{
  grid-area: descripcion;
}

.foto--standard1{
  grid-area: foto1;
}
.foto--standard2{
  grid-area: foto1;
}



.habitaciones-container__deluxe{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2"    ;
  align-items: center;
  padding-bottom: 4%; 

}

.habitaciones-container__deluxe div{
  grid-area: descripcion;
}

.foto--deluxe1{
  grid-area: foto1;
}
.foto--deluxe2{
  grid-area: foto2;
}

.foto{
  height: 25vh;
  width: 45vh;
  padding: 0.5%;
}


/*Imagenes Main*/ 

.tit__img{
    font-size: $titulos__tamano;
    padding: $titulos__padding;
    text-align: center;
    text-decoration: underline;
}

.imagenes__main{
    h3{
        font-size: 20px;
        text-align: center;
        padding-bottom: 5vh;
    }

    div{

        display: grid;
        grid-template-columns: 68vh 68vh;
        justify-content: center;
        padding-bottom: 5vh;
        grid-row-gap: 0.5px;
        img{
            height: 45vh;

        }
    }
}

.tit__img{
    font-size: $titulos__tamano;
    padding: $titulos__padding;
    text-align: center;
    text-decoration: underline;
}

/*Actividades Main*/

.actividades__main{
    h1{
        @extend .tit__img;
        padding-bottom: 15px;
    }
    h2{
        padding-bottom: 60px;
        text-align: center;
        opacity: 90%;
        font-size: 27px;
    }
    

    .act-afu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        h3{
            font-size: 20px;
        }
        iframe{
            display: flex;
        }
    }
}


/*Contacto Main*/


.contacto__main{
    h1{
        @extend .tit__img;
    }
    .map-n-phot{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    h2{
        @extend .tit__img
    }

    .medios-de-contacto{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        padding-top: 5rem;
        padding: 10px;
        .medios_hijos{
            display: flex;
            padding: 10px;
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }
}

.img__contacto{
    height: 4vh;
}

#logo{
    height: 80px;
    width: auto; 
    transform: translateX(20px);
  }