
/* MAIN HOME */
#titulo{
  color: black;
  text-align: center;
  background-image: url(./multimedia/montaña.jpg);
  padding: 325px;
  background-size: cover;
}

@media (max-width: 770px) {
  #titulo{
    padding: 311px;
  }
}

@media (max-width: 481px) {
  #titulo{
    padding: 150px;
    }
}

#descripcion{
  color: black;
  font-size: 1em;
  text-align: center;
  background-color: #EDE9E1;
  padding: 30px 5px;
}


.ft{
  height: 60vh;
  width: 85vh;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 481px) {
  .ft{
    height: 30vh;
    width: 65vh;
    }
}

/* FOOTER GRAL */

.finalPag{
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color:rgb(37, 34, 34);
  color: white;
  background-size: cover;
  width: 100%;
}

@media (max-width: 650px) {
  .finalPag{
      flex-direction: column;
  }

}

@media (max-width: 770px) {
  .finalPag{
      font-size: 13px;
  }
}


/*MAIN HABITACIONES*/

main{
  background-color: rgb(227 219 199 / 78%);
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}


.intro__hijos--principal{
    font-size: 35px;
    padding: 60px;
    text-decoration: underline;
}


.intro__hijos--secundario{
  font-size: 20px;
  align-items: center;
}

.habitaciones-container{
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 10%;
}

.habitaciones-container__matrimoniales{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2";
  align-items: center;
  margin-bottom: 5px black;
  padding-bottom: 5%;
}

.habitaciones-container__matrimoniales div{
  grid-area: descripcion;

}

.habitaciones-container__standard{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2"    ;
  align-items: center;
  padding-bottom: 5%;
}

.habitaciones-container__standard div{
  grid-area: descripcion;
}

.habitaciones-container__deluxe{
  display: grid;
  grid-template-areas: "descripcion foto1"
  "descripcion foto2"    ;
  align-items: center;
  padding-bottom: 4%; 

}

.habitaciones-container__deluxe div{
  grid-area: descripcion;
}

.foto{
  height: 25vh;
  width: 45vh;
  padding: 0.5%;
}



